#content {
  width: 80%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 0px 20px 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  display: block;
  overflow: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Young", sans-serif;
  width: 100%;
  display: block;
  font-size: 34pt;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
}

.subtitle {
  font-size: 20pt;
  font-weight: bolder;
}

.body-text {
  font-size: 14pt;
  line-height: 26pt;
}

.body-text .italic {
  font-style: italic;
  font-weight: 300px;
}

.body-text .bold {
  font-weight: 500;
}

.body-text .very_bold {
  font-weight: 700;
}

.video_box {
  width: 90%;
  height: 0;
  padding-bottom: 52%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.image_box {
  width: 90%;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  font-size: 10pt;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.image_box img{
  width: 100%;
}

.image_box img.white{
  border: 1px solid #888888;
}

.big {
  width: 90%;
}

.image_box.square {
  max-width: 550px;
}

.image_box.tall {
  max-width: 450px;
}

