#content {
  margin-left: 260px;
  padding: 20px 20px 10px 20px;
  height: 100%;
  top: 0;
  bottom: 0;
  display: block;
  overflow: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#project_content {
  padding: 0px 40px 20px 40px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

#project_content .title {
  font-family: "young";
  width: 100%;
  display: block;
  font-size: 34pt;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
}

#project_content .subtitle {
  font-family: "young";
  width: 100%;
  display: block;
  font-size: 18pt;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 40px;
}

#project_content .details {
  font-family: "young";
  width: 100%;
  display: block;
  font-size: 16pt;
  color: var(--dark-color);
  text-align: center;
  font-weight: bolder;
  margin-bottom: 40px;
}

#project_content .description {
  font-size: 14pt;
}

#project_content .video_box {
  width: 90%;
  height: 0;
  padding-bottom: 52%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#project_content .image_box {
  margin-right: auto;
  margin-left: auto;
  font-size: 10pt;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.image_box img{
  width: 100%;
}

#project_content .big {
  width: 90%;
}



