#content {
  width: 80%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0px 20px 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  display: block;
  overflow: auto;
}

.description {
  font-size: 1rem;
}

.section_header {
  font-family: "Young", sans-serif;
  color: var(--dark-color);
  font-size: 2.3rem;
  font-weight: bolder;
}

.date {
  font-size: 1.13rem;
  float: right;
}

.bullet_point {
  font-size: 1.42rem;
  font-weight: bolder;
}

.subtitle {
  font-size: 1.13rem;
  font-weight: bolder;
}

#coursework {
  display: table;
}

.coursework_row{
  display: table-row;
}

.course {
  display: table-cell;
  padding-right: 18px;
  font-size: 0.85rem;
  font-weight: normal;
}

.description .italic {
  font-style: italic;
  font-weight: 300;
}

.description .bold {
  font-weight: 500;
}

.description .very_bold {
  font-weight: 700;
}

@media (max-width: 680px) {
  #content {
    width: 90%;
  }

}