  h3{color: blue;}

  body
  	{
      background-image: url(jacqui.jpg)
    	background-attachment: fixed;
      border: double;
      padding: 50px 50px;
      border-color: blue;
    }
div1{margin: 50%;}
h1{margin: auto 500px auto 30%}


  a {
   		color: blue;
   		text-decoration: none;
	}

  a:visited { color: purple; }

  a:hover {text-decoration: underline;}

  a:active {color: black;}

  a
  	{
  color: blue;
  text-decoration: underline;
	}

nav a
	{
  background: gray;
  color: white;
  text-decoration: none;
	}
